---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: managedfusiondeployments.ocs.openshift.io
spec:
  group: ocs.openshift.io
  names:
    kind: ManagedFusionDeployment
    listKind: ManagedFusionDeploymentList
    plural: managedfusiondeployments
    shortNames:
    - mfd
    singular: managedfusiondeployment
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagedFusionDeployment is the Schema for the ManagedFusionDeployment
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ManagedFusionDeploymentSpec defines the desired state of
              ManagedFusionDeployment
            properties:
              pager:
                description: PagerSpec defines the desired state of Pager configuration
                properties:
                  sopEndpoint:
                    type: string
                type: object
              smtp:
                description: SMTPSpec defines the desired state of SMTP configuration
                properties:
                  endpoint:
                    type: string
                  fromAddress:
                    type: string
                  notificationEmails:
                    items:
                      type: string
                    type: array
                  username:
                    type: string
                type: object
            type: object
          status:
            description: ManagedFusionDeploymentStatus defines the observed state
              of ManagedFusionDeployment
            properties:
              components:
                properties:
                  alertmanager:
                    properties:
                      state:
                        type: string
                    required:
                    - state
                    type: object
                  prometheus:
                    properties:
                      state:
                        type: string
                    required:
                    - state
                    type: object
                required:
                - alertmanager
                - prometheus
                type: object
            required:
            - components
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
